/* styles.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

h1 {
    text-align: center;
}

.form-group {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

input {
    width: 70%;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    border: none;
    background-color: #007BFF;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #0056b3;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.quantity-controls {
    display: flex;
    align-items: center;
}

li input.quantity-input {
    width: 50px;
    margin: 0 5px;
    padding: 5px;
    text-align: center;
}

.quantity-controls button {
    background-color: #007BFF;
    border: none;
    color: #fff;
    cursor: pointer;
    padding: 5px 10px;
    margin: 0 5px;
    border-radius: 5px;
}

.quantity-controls button:hover {
    background-color: #0056b3;
}

li button.remove {
    background-color: #dc3545;
}

li button.remove:hover {
    background-color: #c82333;
}
